@media (max-width: 767px){
    .header{
        padding: 10px 0;
        flex-direction: column;
    }
    .nav-bar li a{
        margin-left: -15px;        
    }
    .landing-page img{
        object-position: top 30% right 30%;
    }
    .landing-page .info{
        left: 2%;
    }
    .landing-page .info h4{
        font-size: 13px;
        margin-bottom: -15px;
    }
    .landing-page .info h2{
        font-size: 25px;
    }
    .landing-page .info h1{
        font-size: 30px;
        margin-top: -20px;
    }
    .landing-page .info p{
        font-size: 14px;
    }
    .landing-page .info button{
        margin-left: -25px;               
    }
    #feature {
        justify-content: center;
    }
    #feature .box{
        margin-left: 5px;
    }
    .featured-page .container{
        justify-content: center;
    }
    .repaire-section{
        height: 25vh;
    }
    .repaire-section h2{
        font-size: 20px;
    }
    .repaire-section button{
        align-items: center;
        margin-left: -7px;
    }    
    .big-collection-one {
        width: 100%;
        height: 30vh;
        margin-bottom: 20px;
    }
    .big-collection-two{
        width: 100%;
        height: 30vh;
        margin-bottom: 0;
    }
    .banner{
        display: none;
        padding: 0 40px;        
    }
    .small-collection-one,
    .small-collection-two,
    .small-collection-three{
        width: 28%;        
    }
    .stats-section{
        padding: 40px;
    }
    .stats-section .form{
        width: 70%;
    }
}